<div class="container-fluid">
  <h2><%= @restaurant.name %></h2>
  <ul class="list-group">
    <li class="list-group-item">Address: <%= @restaurant.address %>
    <li>Category: <%= @restaurant.category %>
    <li>Phone number: <%= @restaurant.phone_number %></li>
  </ul>

  <h4>This are the Reviews</h4>
  <div class="d-flex justify-content-around">
    <% @restaurant.reviews.each do |review| %>
      <div class="review-card">
        <p><%= "⭐️" * review.rating %></p>
                   <p><%= review.content %></p>
                    </div>
    <% end %>
  </div>
  <div class= "d-flex justify-content-around">
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class:"btn btn-outline-secondary" %>
    <%= link_to "See the restaurants", restaurants_path, class:"btn btn-outline-secondary" %>
  </div>
</div>
